.header{
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom:#eaeaea;
    display:flex;
    justify-content: center;
    align-items: center;

}

.anchor{
    display:inline-block;
    margin:4px 24px;
    font-size:1.2rem;
}

.anchor:hover,
.anchor:focus,
.anchor:active{
    color:red;
}